body {
	text-align: center;
	background: rgba(53, 101, 77, 1.00);
}

h1 {
	text-shadow: 2px 2px 0 white, 
				4px 4px 0 white;
	font-size: 300%;
	text-align: center;
}

.header {
	display: inline;
}

#back {
	border: 5px solid black;
	border-radius: 25px;
	position: absolute;
	width: 90px;
	height: 50px;
	left: 1%;
}

#dealer-hand img {
	width: 110px;
	height: 150px;
	margin: 5px;
}

#dealer-hand {
	text-align: center;
	border: double;
	border-width: 5px;
	border-color: black;
	background: white;
	top: 50%;
	left: 50%;
	height: 170px;
	padding: auto;
	margin: 1%;
}

#play-btn {
	background: blue;
	padding: 10px;
	margin: 5px;
	width: 100px;
	height: 50px;
	font-family: 'Bebas Neue', cursive;
	font-size: 90%;
}

.play {
	height: 1px;
	margin: 3%;
	font-size: 125%;
	font-family: 'Bebas Neue', cursive;
}

#player-hand img {
	width: 110px;
	height: 150px;
	margin: 1px;
}

#toke {
	border: double;
}

.tokekid {
	display: inline-block;
	font-size: 200%;
	font-family: 'Bebas Neue', cursive;
}

.game-btns {
	margin: 1px;
	padding: 1px;
}

#hit-btn {
	background: red;
	padding: 10px;
	margin: 5px;
	width: 100px;
	height: 50px;
	font-family: 'Bebas Neue', cursive;
	font-size: 90%;
}

#stay-btn {
	background: green;
	padding: 10px;
	margin: 5px;
	width: 100px;
	height: 50px;
	font-family: 'Bebas Neue', cursive;
	font-size: 90%;
}

#player-hand {
	text-align: center;
	border: double;
	border-width: 5px;
	border-color: black;
	background: white;
	top: 50%;
	left: 50%;
	height: 170px;
	padding: auto;
	margin: 1%;
}